.modal {
    /* background-color: var(--white); */
    background-color: beige;
    min-height: 100svh;
    max-height: 100svh;
    position: fixed;
    width: 100%;
    max-width: 450px;
    top: 0;
    right: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.modal-wrap {
    padding: 46px 24px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.modal-img {
    width: 100%;
    aspect-ratio: 16/9;
}

.modal-name{
    font-size: 28px;
    font-weight: var(--fw-bold);
    margin: 0px;
    line-height: 1.1;
}

.modal-attributes{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.modal-att{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(18, 17, 12, 0.20);
}

.modal-att-detail{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: var(--fw-medium);
}

.modal-att-icon{
    width: 24px; 
    height: 24px;
}

.modal-att-value{
    font-size: var(--fs-normal);
    color: var(--black-80);
}

.modal-description{
    font-size: var(--fs-normal);
    font-weight: var(--fw-light);
    margin: 0px;

}

.modal-btn{
    padding: 8px 16px;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--fs-normal);
    font-family: inherit;
    border-radius: 24px;
    border: 0;
    margin-top: auto;
    cursor: pointer;
}